TASK 1

In [1]:
#Assignment 1 
#1. Install Jupyter notebook and run the first program and share the screenshot of the output.
print("Hellow World!")

Hellow World!

In [4]:
#First program
num1=5
num2=10
add=num1+num2
print("sum of two numbers is :",add)

sum of two numbers is : 15

In [12]:
#2. Write a program which will find all such numbers which are divisible by 7 but are not a
#multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed
#in a comma-separated sequence on a single line.
my_list=[]
lower_number=int(input("enter lower number "))
upper_number=int(input("enter upper number "))
for x in range(lower_number,upper_number+1):
    if (x%7==0 and x%5!=0):
        #print([x])
        my_list.append(str(x))
print(",".join(my_list))

enter lower number 2000
enter upper number 3200
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [14]:
#using lambda function
my_list = [ x for x in range (2000,3201) if x%7 == 0 and x%5 != 0]
print (my_list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [7]:
#3.Write a Python program to accept the user's first and last name and then getting them
#printed in the the reverse order with a space between first name and last name. 
first_name=input("enter first name:")
last_name=input("enter last name:")
print(last_name,"",first_name)

enter first name:Sridhar
enter last name:Dandu
Dandu  Sridhar

In [15]:
#4. Write a Python program to find the volume of a sphere with diameter 12 cm.
pi = 3.141
d = 12.0
Volume=(4/3)*pi*((d/2)**3)
print("Volume of a sphere V is: ",Volume)

Volume of a sphere V is:  904.608

TASK 2

In [1]:
#1.Write a program which accepts a sequence of comma-separated numbers from console and
#generate a list.
numbers=input("enter sequence of numbers seperated by comma :")
list=numbers.split(",")
print("List is : ",list)

enter sequence of numbers seperated by comma :1,2,3,4,5
List is :  ['1', '2', '3', '4', '5']

In [1]:
#2. Create the below pattern using nested for loop in Python.
rows = input("Enter max star to be display on single line ")
rows = int (rows)
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")
for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Enter max star to be display on single line 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
#3. Write a Python program to reverse a word after accepting the input from the user.
name=input("enter the name:")
name=name[::-1]
print("Reverse of the given name is ",name)

enter the name:AcadGild
Reverse of the given name is  dliGdacA

In [4]:
#4. Write a Python Program to print the given string in the format specified in the sample output.
print ('WE,THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens')

WE,THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens